<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__image">
            <img src="{{ photoCover }}"
                alt="">
        </div>
        <div class="small-card__content">
            <a href="#" class="small-card__title">
                <h3>{{ cardTitle }}</h3>
            </a>
            <p>
                {{ cardDescription }}
            </p>
        </div>
    </div>
    <div class="container__small-card__divider">
        <hr />
    </div>
</div>